body{
  background: skyblue;
  color:black;
}

.conteiner{
  display:flex;
  flex-direction:row;
}

.menu ul li{
  background:black;
  white;
}

@media (max-width:700px){
  .conteiner{
    flex-direction:column;
  }
}
